.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.user__info {
    margin: 32px;
    text-align: center;
    font-size: 24px;
}

.user__avatar {
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

.user__name {
    font-weight: 700;
}

.name-form {
    margin: auto;
}

.name-form__input {
    height: 30px;
    border: 3px solid lightgray;
    border-radius: 6px;
}

.name-form__btn {
    margin-left: 15px;
    height: 37px;
    border: none;
    border: 3px solid lightgray;
    border-radius: 6px;
    background-color: #fff;
}

.user__location {
    color: lightgray;
}