* {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.arena {
    display: flex;
}

.sector {
    display: flex;
    flex-direction: column;
    margin: 16px;
    background-color: coral;
}

.sector__line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20px;
    width: 200px;
}

.sector__seat {
    height: 16px;
    width: 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    background-color: aqua;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 200px;
    border-radius: 8px;
    font-size: 18px;
    background-color: #daa520;
    color: white;
    text-transform: uppercase;
}